.container{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 1300px;
}
.navbar{
    border:2px solid red;
    height: 60px;
    display: flex;
    justify-content: center;
}
.subnav{
    border:2px solid darkblue;
    width:90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav1{
    border:2px solid rgb(160, 166, 168);
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    transition: all 0.5s ease;
}
.nav1 img{
    flex-basis: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav1:hover{
    width: 55px;
    height: 55px;
}
.nav2{
    border:2px solid lightpink;
    width:60%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.name{
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 6px;
    text-align: center;
    flex-basis: 70px;
    font-family:sans-serif;
    transition: all 0.5s ease;
}
.name:hover{
    background-color: black;
    padding: 10px;
    color: white;
}
.name-3{
    background-color: black;
    color: darksalmon;
    font-size: 18px;
    flex-basis: 100px;
}
.name-3:hover{
    background-color: darksalmon;
    color: black;
}
.homepage{
    border:2px solid green;
    height: 600px;
}