@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.container{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 1300px;
    display: flex;
    flex-direction: column;
}
.navbar{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 60px;
    display: flex;
    background-color: rgb(190, 188, 188);
    justify-content: center;
}
.subnav{
    width:90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav1{
    border:2px solid rgb(160, 166, 168);
    width:55px;
    height:55px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    transition: all 0.5s ease;
}
.nav1 img{
    flex-basis: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav1:hover{
    width: 55px;
    height: 55px;
}
.nav2{
    width:60%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.name{
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 6px;
    text-align: center;
    flex-basis: 10px;
    font-family:sans-serif;
    transition: all 0.5s ease;
}
.name:hover{
    background-color: black;
    padding: 10px;
    color: white;
}
.name-3{
    background-color: black;
    color: darksalmon;
    font-size: 18px;
    flex-basis: 100px;
}
.name-3:hover{
    background-color: darksalmon;
    color: black;
}
.bi-list,#menus{
  display: none;
}
@media screen and (width < 600px) {
  .bi-list{
    display: inline-block;
    align-self: flex-end;
    font-size: 2.4rem;
  }
  .nav2{
    display: none;
  }
  #menus:checked~.nav2{
    display: block;
    width: 10%;
  }
}

/* homepage section */

.homepage{
    border:2px solid green;
    height: 660px;
    display: flex;
    justify-content: center;
}
/* Here CSS Generators, */
table{
    margin-top: 30px;
    padding: 10px;
    background-image: repeating-linear-gradient(45deg, #DFA6AC 0, #DFA6AC 2px, transparent 0, transparent 50%);
	background-size: 93px 93px;
	background-color: #F5F5FF;
    border-radius: 20px;
}
.hname1{
    display: flex;
    align-items: end;
    position: relative;
}
.greeting p{
    font-family:"Candal", sans-serif; 
    color: rgb(161, 21, 21);
}
.wrap{
    border:1px solid black;
    background:
		  repeating-linear-gradient( 45deg,#0000 calc(-650%/13) calc(50%/13),#C8E5D6 0 calc(100%/13),
		  #0000 0 calc(150%/13),#C8E5D6 0 calc(200%/13),
		  #0000 0 calc(250%/13),#C8E5D6 0 calc(300%/13)),
		  repeating-linear-gradient( 45deg,#0000 calc(-650%/13) calc(50%/13),#C8E5D6 0 calc(100%/13),
		  #0000 0 calc(150%/13),#C8E5D6 0 calc(200%/13),
		  #0000 0 calc(250%/13),#C8E5D6 0 calc(300%/13)) 32px 32px,
		  repeating-linear-gradient(-45deg,#0000 calc(-650%/13) calc(50%/13),#C8E5D6 0 calc(100%/13),
		  #0000 0 calc(150%/13),#C8E5D6 0 calc(200%/13),
		  #0000 0 calc(250%/13),#C8E5D6 0 calc(300%/13)),
		  repeating-linear-gradient(-45deg,#0000 calc(-650%/13) calc(50%/13),#C8E5D6 0 calc(100%/13),
		  #0000 0 calc(150%/13),#C8E5D6 0 calc(200%/13),
		  #0000 0 calc(250%/13),#C8E5D6 0 calc(300%/13)) 32px 32px #E4E4ED;
	background-size: 64px 64px;
    border-radius: 30px 5px 30px 5px;
    width: 300px;
    height: 50px;
}
svg {
    display: inline-block;
	font-family: "Candal", sans-serif;
    position: absolute;
    top:48px;
    left: 115px;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 1;
	stroke: #888E90;
	font-size: 25px;
}
@keyframes stroke {
	0%   {
		fill: rgba(0,0,0,0); stroke: rgb(51, 204, 215);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	70%  {fill: rgba(0,0,0,0); stroke: rgb(162, 104, 18); }
	80%  {fill: rgba(0,0,0,0); stroke: rgb(85, 167, 195); stroke-width: 1; }
	100% {
		fill: rgba(0,0,0,1); stroke: rgba(139, 6, 6, 0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.hprofile{
    position: relative;
}
.profile{
    border:1px solid black;
    background-color: rgb(125, 124, 124);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
}
.subpro{
    background-color: silver;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 90%;
    height: 95%;
    border-radius: 50%;
}

.hname2{
    border:2px solid black;
    display: flex;
    border-radius: 1px 70px 1px 70px;
    background:
		  radial-gradient(85px at calc(100% + calc(85px*.866)) 50%,#CFE5C8 99%, #0000 101%) 0 calc(-5*85px/2),
		  radial-gradient(85px at calc(100% + calc(85px*.866)) 50%,#CFE5C8 99%, #0000 101%) calc(-2*calc(85px*.866)) calc(85px/2),
		  radial-gradient(85px at 100% 50%,#E2E8ED 99%, #0000 101%) 0 calc(-2*85px),
		  radial-gradient(85px,#CFE5C8 99%, #0000 101%) calc(85px*.866) calc(-5*85px/2),
		  radial-gradient(85px,#E2E8ED 99%, #0000 101%) calc(85px*.866) calc( 5*85px/2),
		  radial-gradient(85px at 100% 100%,#CFE5C8 99%, #0000 101%) 0 calc(-1*85px),   
		  radial-gradient(85px at 0%   50% ,#CFE5C8 99%, #0000 101%) 0 calc(-4*85px),
		  radial-gradient(85px,#E2E8ED 99%, #0000 101%) calc(-1*calc(85px*.866)) calc(-7*85px/2),
		  radial-gradient(85px,#CFE5C8 99%, #0000 101%) calc(-1*calc(85px*.866)) calc(-5*85px/2),
		  radial-gradient(85px at 100% 50%,#E2E8ED 99%, #0000 101%) calc(-2*calc(85px*.866)) 85px,
		  radial-gradient(85px,#CFE5C8 99%, #0000 101%) calc(-1*calc(85px*.866)) calc(85px/ 2),
		  radial-gradient(85px,#E2E8ED 99%, #0000 101%) calc(-1*calc(85px*.866)) calc(85px/-2),
		  radial-gradient(85px,#CFE5C8 99%, #0000 101%) 0 calc(-1*85px),
		  radial-gradient(85px,#E2E8ED 99%, #0000 101%) calc(85px*.866) calc(85px/-2),
		  radial-gradient(85px,#CFE5C8 99%, #0000 101%) calc(85px*.866) calc(85px/ 2) 
		  #E2E8ED;
	background-size: calc(4*calc(85px*.866)) calc(6*85px);
    
}
.subname2{
    padding-top: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 100px;
    font-weight: 50px;
    background: #FC72C0;
background: radial-gradient(circle farthest-corner at center center, #FC72C0 0%, #7C2C41 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 0px #000; */
    
}
.custom-loader {
  width:60px;
  height:60px;
  display: inline-block;
  margin-left: -25px;
  color: #bbbbc0;
  --c:linear-gradient(currentColor 0 0);
  background:
    var(--c),
    var(--c),
    var(--c),
    var(--c);
  background-repeat: no-repeat;
  animation: 
    l9-1 1.5s infinite,
    l9-2 1.5s infinite;
}
.custom-loader:nth-child(odd){
    transform: rotate(90deg);
}
@keyframes l9-1 {
  0%   {background-size: 0    4px,4px 0   }
  25%  {background-size: 40px 4px,4px 0   }
  45%,
  55%  {background-size: 40px 4px,4px 42px}
  75%  {background-size: 0    4px,4px 42px}
  100% {background-size: 0    4px,4px 0   }
}
@keyframes l9-2 {
  0%,49.9% {background-position: 0  38px               ,18px 18px,100% 18px,right 18px bottom 18px}
  50%,100% {background-position: right 20px bottom 18px,18px 100%,20px 18px,right 18px top 0      }
}
.hname3{
    border:1px solid black;
    padding: 10px;
    background:
		linear-gradient(-45deg,#0000 1.3%,#EDABB8 0 32%,#0000 0),
		linear-gradient( 45deg,#0000  48%,#E5C493 0 52%,#0000 0),
		linear-gradient( 45deg,#0000 1.3%,#EDABB8 0 32%,#0000 0) calc(32px/2) calc(32px/2),
		linear-gradient(-45deg,#0000  48%,#E5C493 0 52%,#0000 0) #EDABB8;
	background-size: calc(2*32px) 32px,32px 32px;
    border-radius: 30px 5px 30px 5px;
}
.text-rotator {
    font-family: 'Quattrocento', serif;
    color:rgb(11, 10, 10); 
    font-size: 25px;
    position: relative;
    height: 30px;
    overflow: hidden;
}
.text-rotator span {
  position: absolute;
  opacity: 0;
  animation: fadeText 8s infinite;
}

.text-rotator span:nth-child(1) { animation-delay: 0s; }
.text-rotator span:nth-child(2) { animation-delay: 2s; }
.text-rotator span:nth-child(3) { animation-delay: 4s; }
.text-rotator span:nth-child(4) { animation-delay: 6s; }

@keyframes fadeText {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}
span i{
    color:rgb(245, 5, 5);
}

/* Project Work Section */

.work{
    border: 2px solid red;
    height: 500px;
}