.container{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 1300px;
}
.navbar{
    border:2px solid red;
    height: 60px;
    display: flex;
    justify-content: center;
}
.subnav{
    border:2px solid darkblue;
    width:90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav1{
    border:2px solid lightblue;
    width:60px;
    height: 60px;
    border-radius: 50%;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav2{
    border:2px solid lightpink;
    width:60%;
    height: 60px;
}
.homepage{
    border:2px solid green;
    height: 600px;
}