
@media (min-width: 1025px) {
    .container{
    border: 2px solid red;
    display: grid;
    gap:10px;
    }
    .navbar{
        border: 2px solid darkblue;
        display: flex;
        justify-content: space-around;
        height: 50px;
    }
    .nav1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rebeccapurple;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        border: 2px solid darkgoldenrod;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color: black;
        color:white;
        padding: 6px;
        border-radius: 10px;
    }
    .profile{
        display: grid;
        gap:10px;
        border: 2px solid seagreen;
    }
    .prof{
        border: 2px solid darkgoldenrod;
    }
    .pic{
        grid-column: 2/3;
        grid-row: 1/4;
    }
} 

/* Mobile */
@media screen and (max-width: 480px) {
    .container{
    border: 2px solid red;
    display: grid;
    gap:10px;
    }
    .navbar{
        border: 2px solid darkblue;
        display: flex;
        justify-content: space-around;
        height: 50px;
    }
    .nav1{
        width: 50px;
        height: 50px;
        border: 2px solid rebeccapurple;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        border: 2px solid darkgoldenrod;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color: black;
        color:white;
        padding: 6px;
        border-radius: 10px;
    }
    .profile{
        display: grid;
        gap:10px;
        border: 2px solid seagreen;
    }
    .prof{
        border: 2px solid darkgoldenrod;
    }
} 

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    .container{
    border: 2px solid red;
    display: grid;
    gap:10px;
    }
    .navbar{
        border: 2px solid darkblue;
        display: flex;
        justify-content: space-around;
        height: 50px;
    }
    .nav1{
        width: 50px;
        height: 50px;
        border: 2px solid rebeccapurple;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        border: 2px solid darkgoldenrod;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color:white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 6px;
        border-radius: 10px;
    }
    .profile{
        display: grid;
        gap:10px;
        border: 2px solid seagreen;
    }
    .prof{
        border: 2px solid darkgoldenrod;
    }
} 
