/* Place in your CSS file at the top of the document */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.greeting{
    font-family: 'Raleway', sans-serif;
    font-size: 50em;
}
a{
    text-decoration: none;
    color:inherit;
    font-family: 'Raleway', sans-serif;
}
.name-1:hover{
    color:white;
    background-color: black;
}
.name-2:hover{
    color: white;
    background-color: black;
}
.name-3 a{
    font-size: 1.1em;
    background-color: black;
    color: pink;
    padding:7px;
    border-radius:10px ;
}
.name-3 a:hover{
    background-color: white;
    color: rgb(236, 21, 57);
   
}

@media (min-width: 1025px) {
    .container{
    /* border: 2px solid red; */
    display: grid;
    gap:30px;
    }
    .navbar{
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-around;
        height: 50px;
    }
    .nav1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color:white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 5px;
        border-radius: 10px;
    }
    .namehead{
        display: flex;
        padding: 5px;
        padding-left: 30px;
        border-radius: 5px 40px 5px 40px;
        background:
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) 0 calc(-5*100px/2),
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) calc(-2*calc(100px*.866)) calc(100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) 0 calc(-2*100px),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(-5*100px/2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc( 5*100px/2),
		  radial-gradient(100px at 100% 100%,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),   
		  radial-gradient(100px at 0%   50% ,#D9DADA 99%, #0000 101%) 0 calc(-4*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-7*100px/2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-5*100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) calc(-2*calc(100px*.866)) 100px,
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/ 2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(100px/ 2) 
		  #E4E4ED;
	background-size: calc(4*calc(100px*.866)) calc(6*100px);
    }
    .greeting{
        font-size: 1.8em;
        margin-top:0.7% ;
    }
    .greeting::after{
        content: '\00a0';
    }
    svg {
        font-family: "Red Hat Text", sans-serif;
        width: 100%;
        height: 10%;
    }
    svg text {
        animation: stroke 3s infinite alternate;
        stroke-width: 0.05;
        stroke: #030508;
        font-size: 5em;
    }

    @keyframes stroke {
        0% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
        }
        80% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-width: 3;
        }
        100% {
            fill: rgba(11,21,31,1);
            stroke: rgba(3,5,8,0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
    .wrapper {
        width: 50%;
    }
    .show{
        padding:20px;
        font-size: 2.5rem;
        font-family: 'PT Serif Caption', serif;
        border-radius: 50px 10px 50px 10px;
        background:
		  radial-gradient(100% 100% at 100% 100%, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100% at 0 0, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100%, #0000 22%, #F5F5F5 23% 29%, #0000 30% 34%, #F5F5F5 35% 41%, #0000 42%)
		  #FAFAFA;
	    background-size: 200px 200px;

    }
    .custom-loader {
    width: 30px;
    height: 30px;
    display: inline-grid;
    color: #766DF4;

    background: 
        linear-gradient(currentColor 0 0) center/100% 1.5px,
        linear-gradient(currentColor 0 0) center/1.5px 100%;
    background-repeat: no-repeat;
    animation: s8 2s infinite;
    }

    .custom-loader::before,
    .custom-loader::after {
    content: "";
    grid-area: 1/1;
    background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 1.5px),#000 0);
    border-radius: 50%;
    }
    .custom-loader::after {
    margin:20%;
    }

    @keyframes s8 {
    100% {transform: rotate(1turn)}
    }

    @keyframes s5 {
    100% {transform: rotate(1turn)}
    }
    .text-rotator {
    font-family: 'Quattrocento', serif;
    color:rgb(11, 10, 10); 
    font-size: 25px;
    position: relative;
    height: 30px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px 40px 5px 40px ;
    background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) 0 calc(400px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) calc(400px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  #EDEDED;
	background-size: calc(400px/4.667) 400px,400px calc(400px/4.667);
}
.text-rotator span {
  position: absolute;
  opacity: 0;
  animation: fadeText 8s infinite;
}

.text-rotator span:nth-child(1) { animation-delay: 0s; }
.text-rotator span:nth-child(2) { animation-delay: 2s; }
.text-rotator span:nth-child(3) { animation-delay: 4s; }
.text-rotator span:nth-child(4) { animation-delay: 6s; }

@keyframes fadeText {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}
span i{
    color:rgb(245, 5, 5);
}
    .profile{
        display: grid;
        grid-template-columns: 1fr 500px;
        gap: 9px;
        padding: 5px;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    }
    .proimg{
        width: 75%;
        height: 95%;
        border-radius: 50%;
    }
    .prof{
        border: 2px solid rgb(228, 227, 225);
    }
    .pic{
        grid-column: 2/3;
        grid-row: 1/4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:40px;
    }
} 

/* Mobile */
@media screen and (max-width: 480px) {
    .container{
    /* border: 2px solid red; */
    display: grid;
    gap:13px;
    }
    .name-3 a{
    font-size: 1em;
    background-color: black;
    color: pink;
    padding:7px;
    border-radius:10px ;
    }
    .navbar{
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-around;
        height: 40px;
    }
    .nav1{
        width: 40px;
        height: 40px;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color:white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 5px;
        border-radius: 10px;
    }
    .namehead{
        display: flex;
        padding: 5px;
        border-radius: 5px 20px 5px 20px;
        background:
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) 0 calc(-5*100px/2),
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) calc(-2*calc(100px*.866)) calc(100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) 0 calc(-2*100px),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(-5*100px/2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc( 5*100px/2),
		  radial-gradient(100px at 100% 100%,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),   
		  radial-gradient(100px at 0%   50% ,#D9DADA 99%, #0000 101%) 0 calc(-4*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-7*100px/2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-5*100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) calc(-2*calc(100px*.866)) 100px,
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/ 2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(100px/ 2) 
		  #E4E4ED;
	background-size: calc(4*calc(100px*.866)) calc(6*100px);
    }
    .greeting{
        margin-top: 4px;
        font-size: 1em;
        display: flex;
        width: 18%;
    }
    svg {
        font-family: "Red Hat Text", sans-serif;
        width: 100%;
        height: 100%;
    }
    svg text {
        animation: stroke 3s infinite alternate;
        stroke-width: 0.05;
        stroke: #030508;
        font-size: 5em;
    }

    @keyframes stroke {
        0% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
        }
        80% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-width: 3;
        }
        100% {
            fill: rgba(11,21,31,1);
            stroke: rgba(3,5,8,0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
    .wrapper {
        width: 30%;
    }
    .show{
        padding:11px;
        font-size: 1em;
        font-family: 'PT Serif Caption', serif;
        border-radius: 30px 10px 30px 10px;
        background:
		  radial-gradient(100% 100% at 100% 100%, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100% at 0 0, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100%, #0000 22%, #F5F5F5 23% 29%, #0000 30% 34%, #F5F5F5 35% 41%, #0000 42%)
		  #FAFAFA;
	    background-size: 200px 200px;
    }
    .custom-loader {
    width: 17px;
    height: 17px;
    display: inline-grid;
    color: #766DF4;

    background: 
        linear-gradient(currentColor 0 0) center/100% 1.5px,
        linear-gradient(currentColor 0 0) center/1.5px 100%;
    background-repeat: no-repeat;
    animation: s8 2s infinite;
    }

    .custom-loader::before,
    .custom-loader::after {
    content: "";
    grid-area: 1/1;
    background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 1.5px),#000 0);
    border-radius: 50%;
    }
    .custom-loader::after {
    margin:20%;
    }

    @keyframes s8 {
    100% {transform: rotate(1turn)}
    }

    @keyframes s5 {
    100% {transform: rotate(1turn)}
    }
    .text-rotator {
    font-family: 'Quattrocento', serif;
    color:rgb(11, 10, 10); 
    font-size: 0.8rem;
    position: relative;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px 20px 5px 20px ;
    background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) 0 calc(400px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) calc(400px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  #EDEDED;
	background-size: calc(400px/4.667) 400px,400px calc(400px/4.667);
}
.text-rotator span {
  position: absolute;
  opacity: 0;
  animation: fadeText 8s infinite;
}

.text-rotator span:nth-child(1) { animation-delay: 0s; }
.text-rotator span:nth-child(2) { animation-delay: 2s; }
.text-rotator span:nth-child(3) { animation-delay: 4s; }
.text-rotator span:nth-child(4) { animation-delay: 6s; }

@keyframes fadeText {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}
span i{
    color:rgb(245, 5, 5);
}
    .profile{
        display: grid;
        gap:5px;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    }
    .proimg{
        margin-top: 2%;
        margin-left: 15%;
        width: 70%;
        height: 96%;
        border-radius: 50%;
    }
    .prof{
        border: 2px solid rgb(228, 227, 225);
    }
    .pic{
        border-radius: 40px;
    }
} 

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    .container{
    /* border: 2px solid red; */
    display: grid;
    gap:20px;
    }
    .navbar{
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-around;
        height: 50px;
    }
    .nav1{
        width: 50px;
        height: 50px;
        border: 2px solid rebeccapurple;
    }
    .logo{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nav2{
        width: 60%;
        height: 100%;
        border: 2px solid darkgoldenrod;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name{
        background-color:white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 5px;
        border-radius: 10px;
    }
    .namehead{
        display: flex;
        padding: 5px;
        border-radius: 5px 20px 5px 20px;
        background:
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) 0 calc(-5*100px/2),
		  radial-gradient(100px at calc(100% + calc(100px*.866)) 50%,#D9DADA 99%, #0000 101%) calc(-2*calc(100px*.866)) calc(100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) 0 calc(-2*100px),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(-5*100px/2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc( 5*100px/2),
		  radial-gradient(100px at 100% 100%,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),   
		  radial-gradient(100px at 0%   50% ,#D9DADA 99%, #0000 101%) 0 calc(-4*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-7*100px/2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(-5*100px/2),
		  radial-gradient(100px at 100% 50%,#E4E4ED 99%, #0000 101%) calc(-2*calc(100px*.866)) 100px,
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/ 2),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(-1*calc(100px*.866)) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) 0 calc(-1*100px),
		  radial-gradient(100px,#E4E4ED 99%, #0000 101%) calc(100px*.866) calc(100px/-2),
		  radial-gradient(100px,#D9DADA 99%, #0000 101%) calc(100px*.866) calc(100px/ 2) 
		  #E4E4ED;
	background-size: calc(4*calc(100px*.866)) calc(6*100px);
    }
    .greeting{
        margin-top: 4px;
        font-size: 1.5em;
    }
    svg {
        font-family: "Red Hat Text", sans-serif;
        width: 100%;
        height: 100%;
    }
    svg text {
        animation: stroke 3s infinite alternate;
        stroke-width: 0.05;
        stroke: #030508;
        font-size: 5em;
    }

    @keyframes stroke {
        0% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
        }
        80% {
            fill: rgba(11,21,31,0);
            stroke: rgba(3,5,8,1);
            stroke-width: 3;
        }
        100% {
            fill: rgba(11,21,31,1);
            stroke: rgba(3,5,8,0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
    .wrapper {
        width: 40%;
    }
    .show{
        padding:5px;
        font-size: 2rem;
        font-family: 'PT Serif Caption', serif;
        border-radius: 40px 10px 40px 10px;
        background:
		  radial-gradient(100% 100% at 100% 100%, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100% at 0 0, #0000 46%,#F5F5F5 47% 53%,#0000 54%) 100px 100px,
		  radial-gradient(100% 100%, #0000 22%, #F5F5F5 23% 29%, #0000 30% 34%, #F5F5F5 35% 41%, #0000 42%)
		  #FAFAFA;
	    background-size: 200px 200px;
    }
    .custom-loader {
    width: 22px;
    height: 22px;
    display: inline-grid;
    color: #766DF4;

    background: 
        linear-gradient(currentColor 0 0) center/100% 1.5px,
        linear-gradient(currentColor 0 0) center/1.5px 100%;
    background-repeat: no-repeat;
    animation: s8 2s infinite;
    }

    .custom-loader::before,
    .custom-loader::after {
    content: "";
    grid-area: 1/1;
    background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 1.5px),#000 0);
    border-radius: 50%;
    }
    .custom-loader::after {
    margin:20%;
    }

    @keyframes s8 {
    100% {transform: rotate(1turn)}
    }

    @keyframes s5 {
    100% {transform: rotate(1turn)}
    }
    .text-rotator {
    font-family: 'Quattrocento', serif;
    color:rgb(11, 10, 10); 
    font-size: 1.5rem;
    position: relative;
    height: 30px;
    overflow: hidden;
    border-radius:5px 20px 5px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) 0 calc(400px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%) calc(400px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#F2F5F0 54% 57%,#0000 59%),
		  #EDEDED;
	background-size: calc(400px/4.667) 400px,400px calc(400px/4.667);
}
.text-rotator span {
  position: absolute;
  opacity: 0;
  animation: fadeText 8s infinite;
}

.text-rotator span:nth-child(1) { animation-delay: 0s; }
.text-rotator span:nth-child(2) { animation-delay: 2s; }
.text-rotator span:nth-child(3) { animation-delay: 4s; }
.text-rotator span:nth-child(4) { animation-delay: 6s; }

@keyframes fadeText {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}
span i{
    color:rgb(245, 5, 5);
}
    .profile{
        display: grid;
        gap:7px;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    }
    .proimg{
        margin-top:2% ;
        margin-left:20% ;
        width: 55%;
        height: 95%;
        border-radius: 50%;
    }
    .prof{
        border: 2px solid rgb(228, 227, 225);
    }
    .pic{
        border-radius: 50px;
    }
} 
